.band-container {
    background-color: #292929;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Metal Mania';
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
}